{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  },
  "assumptions": {
    "constantSuper": true,
    "noClassCalls": true,
    "setClassMethods": true,
    "superIsCallableConstructor": true
  }
}
